server.port={{serverPort}}

spring.jackson.time-zone=Asia/Shanghai
spring.jackson.date-format=yyyy-MM-dd'T'HH:m:ss.SSSXXX
# spring.jackson.date-format={{basePackage}}.RFC3339DateFormat
spring.jackson.serialization.WRITE_DATES_AS_TIMESTAMPS=false
{{#virtualService}}
virtualan.datasource.driver-class-name=org.hsqldb.jdbcDriver
virtualan.datasource.jdbcurl=jdbc:hsqldb:mem:dataSource
virtualan.datasource.username=sa
virtualan.datasource.password=
{{/virtualService}}


server.http2.enabled=true
spring.application.name=demo
spring.data.jpa.repositories.enabled=true
spring.main.banner-mode=off


spring.datasource.url=jdbc:mysql://localhost/springboot_3?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf8&useSSL=false&requireSSL=false
spring.datasource.username=root
spring.datasource.password=root
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL57Dialect
spring.jpa.properties.hibernate.format_sql=false
spring.jpa.properties.hibernate.dialect.storage_engine=innodb

logging.level.org.hibernate.SQL=debug